# MSX iserver version
cmdVersion 4.2

# Variable to indicate weather SCM is ON or OFF. If SCM is
# not required, set this variable "off" or leave it blank
scm_enable on

# This IP address of Master or Stand alone MSX
#ipAddressMaster 10.19.0.158
ipAddressMaster 10.19.0.155

# Ip address of Slave in case if SCM is active
#scmIpAddressSlave 10.19.0.159
scmIpAddressSlave 10.19.0.156

# IP of GEN which will run Nextest
#genIP 10.19.0.157
genIP 10.19.0.154

# The ipadress of peer-Iserveris to be given from Primary and Secondary
# iservers machine in case of SCM being ON
slave_peer_Iserver 10.10.10.21
master_peer_Iserver 10.10.10.20

# management ip should be eth5 as control-introl-interface would remain eth2
# for both client and server
#mgmtip_slave 10.19.0.159
#mgmtip_master 10.19.0.158
mgmtip_slave 10.19.0.156
mgmtip_master 10.19.0.155

# Setting the path for iserver release on bilbo
releasePath rel4.2/iserver/engtest/dailybuilds

# Set the PATH for the installation
mswPath /root/IserverBuilds/dailybuilds

# Pass phrase for the encrypted binary
#passPharase accustom 
passPharase rel42crypt 
